<div style="display: flex;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto; min-width: '270px';">
        <mat-card-header>
            <mat-card-title
            style="
            max-width: '270px';
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;"
            >
                {{movie.Title}}
            </mat-card-title>
            <mat-card-subtitle>Directed by: 
                <button
                    *ngFor="let director of movie.Directors; let isLast=last"
                    mat-button
                    color="primary"
                    style="padding: 0; margin: '2px'; min-width: max-content;"
                    (click)="openDirectorDetailDialog(director.Name, director.Bio)"
                >
                    {{director.Name}}{{isLast ? '' : ', '}}
                </button>
            </mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImageURL}} alt= {{movie.Title}} style="height: '400px'" />
        <mat-card-actions>
            <mat-card-subtitle>Genres: 
            <button
                *ngFor="let genre of movie.Genres; let isLast=last"
                mat-button
                color="primary"
                style="padding: 0; margin: '2px'; min-width: max-content;"
                (click)="openGenreDetailDialog(genre.Name, genre.Description)"
            >
                {{genre.Name}}{{isLast ? '' : ', '}}
            </button>
            </mat-card-subtitle>
            <button
                mat-button
                color="primary"
                (click)="openSynopsisDetailDialog(movie.Title, movie.Synopsis)"
            >
                Synopsis
            </button>
            <mat-icon style="margin-left: '135px'">favorite_border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>